---
---

<div class="
            min-w-9
            border-x border-x-[var(--pattern-fg)]
            bg-[image:repeating-linear-gradient(315deg,var(--pattern-fg)_0,var(--pattern-fg)_1px,transparent_0,transparent_50%)]
            bg-[size:10px_10px] bg-fixed
            max-lg:hidden
            dark:border-x-[var(--pattern-fg-dark)]
            dark:bg-[image:repeating-linear-gradient(315deg,var(--pattern-fg-dark)_0,var(--pattern-fg-dark)_1px,transparent_0,transparent_50%)]
            ">
</div>