---
import Layout from "@/layouts/main.astro";

import About from "@/components/about/about.astro";
import Education from "@/components/about/education.astro";
import Experience from "@/components/about/experience.astro";
import Hero from "@/components/about/hero.astro";
import Projects from "@/components/about/projects.astro";
import Skills from "@/components/about/skills.astro";

import {basics} from "@cv";
const {nickname} = basics;
---

<Layout title={`${nickname} - Portfolio`} tab="about">
  <main
    class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6"
  >
    <div
      class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0"
    >
      <Hero/>
      <About/>
    </div>
    <div
      class="space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0"
    >
      <Experience className="print:col-span-3"/>
      <Projects className="print:hidden"/>
      <Skills className="print:hidden"/>
      <Education className="order-first"/>
    </div>
  </main>
</Layout>

<style>
  @page {
    size: auto;
    margin: 0;
  }

  main {
    margin: auto;
    width: 100%;
  }
</style>
