---
import menus from "@/collections/menu.json";
import Logo from "@/components/common/logo.astro";
import cn from "classnames";

const {tab} = Astro.props;
const isPostsTab = tab === "posts";

const divClass = cn(
  "flex items-center justify-between h-full pl-6 pr-4 mx-auto border-b border-l-0 border-r-0 border-transparent select-none lg:border-r lg:border-l lg:rounded-b-xl",
  {
    "w-full": isPostsTab,
    "max-w-screen-2xl": !isPostsTab,
  }
)
---

<div class="relative w-full h-20 opacity-0 pointer-events-none"></div>
<header id="header" class="absolute top-0 z-50 w-full h-20">
  <div
    class={divClass}
  >
    <Logo/>
    <div
      id="mobileMenuBackground"
      onclick="closeMobileMenu()"
      class="fixed inset-0 z-20 hidden w-screen h-screen duration-300 ease-out bg-white/90 dark:bg-neutral-950/90"
    >
    </div>
    <nav
      class="z-30 flex w-full text-sm justify-end text-neutral-500 dark:text-neutral-400"
    >
      <div
        id="menu"
        class="py-0 z-40 items-end justify-start h-auto flex-row flex text-sm w-auto"
      >
        {
          menus.map((menu) => {
            return (
              <a
                href={menu.url}
                class="relative flex items-center justify-center w-full px-3 py-2 font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"
              >
                {menu.name}
              </a>
            );
          })
        }
      </div>
      <div
        id="darkToggle"
        class="relative flex items-center pl-6 ml-4 font-medium tracking-wide cursor-pointer text-neutral-800 group dark:text-white"
      >
        <div
          class="absolute left-0 flex items-center justify-center w-6 h-6 overflow-hidden border-b border-transparent horizon group-hover:border-neutral-600"
        >
          <svg
            class="absolute w-6 h-6 transition duration-700 transform ease"
            id="sun"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
            ></path>
          </svg>
          <svg
            class="absolute hidden w-6 h-6 transition duration-700 transform ease"
            id="moon"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
            ></path>
          </svg>
        </div>
        <span class="hidden sm:inline-block">
          <span id="dayText" class="ml-2">Day mode</span>
          <span id="nightText" class="hidden ml-2">Night mode</span>
        </span>
      </div>
    </nav>
  </div>
</header>
